@model LibraryRanvijayProject.Models.BookBorrowDetails

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>BookBorrowDetails</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BookBorrow)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BookBorrow.borrowId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Book)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Book.BookId)
        </dd>
    </dl>
</div>
<br />
<div>
    <a asp-action="Edit" asp-route-id="@Model?.BorrowDetailId" class="btn btn-md btn-success">Edit</a> 
  @*   <a asp-action="Index">Back to List</a> *@
</div>
